*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #1F6E8C;
    font-family: 'Press Start 2P', cursive;
}
#main-heading,h1,#retry{
  font-family: inherit;
   font-size: 2.5rem;
   border-radius: 15px;
   /* border: 0px; */
   background-color: goldenrod;
   color: #ffffff;
   padding: 15px;
}
#main-heading:hover{
    cursor: pointer;
}
#retry{
display: none;
}
#retry:hover{
    cursor: pointer;
}

.container{
    /* width: 50%;
    height: 700px;
    margin:100px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
   
  
}
.grid-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  

    padding: 30px;
    gap: 70px;
    
    margin:30px;
}
.grids{
    width: 270px;
    height: 220px;
    border-radius: 15px;
    margin: auto;
    border: 10px solid black;
  
}
#green{
    background-color: green;
    
}
#yellow{
    background-color: yellow;
    
}
#blue{
    background-color: blue;
    
}
#red{
    background-color: red;
    
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
.gameOver{
    background-color: red;
}
@media (max-width:690px){
    .grids{
        width: 190px;
        height:150px;
        border-radius: 10px;
        
    }
    
}
@media (max-width:515px){
    .grids{
        width: 170px;
        height: 130px;
        border-radius: 10px;
        
    }
    
}
@media (max-width:475px){
    .grid-items{
       
        gap: 30px;
        
        
    }
    #main-heading,h1,#retry{
        font-size: 2rem;
    }
    .grids{
        width: 120px;
        height: 120px;
        border-radius: 10px;
        
    }
    
}
@media (max-width:330px){
    .grid-items{
       
        gap: 20px;
        
        
    }
   
    .grids{
        width: 100px;
        height: 90px;
        border-radius: 10px;
        
    }
    
}
@media (max-width:280px){
    .grid-items{
       
        gap: 12px;
        
        
    }
   
    .grids{
        width: 80px;
        height: 70px;
        border: 5px solid black;
        border-radius: 5px;
       
        
    }
    
}
@media (max-width:236px){
    /* .grid-items{
       
        gap: 10px;
        
        
    } */
   
    .grids{
        width: 60px;
        height: 50px;
        border: 4px solid black;
        border-radius: 5px;
       
        
    }
    #main-heading,h1,#retry{
        font-size: 1.5rem;
    }
    
}

  
  