*{
    margin: 0px;
    padding: 0px;
    
}
h1{
    text-align: center;
    font-family:  cursive;
    margin: 20px;
}

.img-container{
    width: 100%;
    min-width: 500px;
    height: 500px;
    /* min-height: 200px; */
   
    position: relative;
}

img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    display: none;
    margin: 20px auto;
}
.active{
    display: block;
}
#left{
    position: absolute;
    width: 50px;
    height: 50px;
   font-size: 35px;
   background-color: rgba(0,0,0,0.8);
   top: 50%;
   left: 5%;
   color: #ffffff;
   
}
#right{
    position: absolute;
    width: 50px;
    height: 50px;
   font-size: 35px;
   background-color: rgba(0,0,0,0.8);
   top: 50%;
   right: 5%;
   color: #ffffff;
   
}
@media (max-width:1000px){
    .img-container{
        width: 1000px;
        height: 300px;
        margin: auto;
    }
    #left{
        width: 35px;
    height: 35px;
    font-size: 20px;
    top:60%;

    }
    #right{
        width: 35px;
        height: 35px;
        font-size: 20px;
        top:60%;

    }

}
@media (max-width:900px){
    .img-container{
        width: 900px;
        height: 300px;
        margin: auto;
    }
    #left{
        width: 35px;
    height: 35px;
    font-size: 20px;
    top:60%;

    }
    #right{
        width: 35px;
        height: 35px;
        font-size: 20px;
        top:60%;

    }

}
@media (max-width:500px){
    h1{
        margin: 10px;
    }
    .img-container{
        width: 500px;
        height: 200px;
        margin: auto;
    }
    #left{
        width: 20px;
    height: 20px;
    font-size: 15px;
    top:70%;

    }
    #right{
        width: 20px;
        height: 20px;
        font-size: 15px;
        top:70%;

    }

}
@media (max-width:300px){
    .img-container{
        width: 500px;
        height: 200px;
        margin: auto;
    }
    #left{
        width: 20px;
    height: 20px;
    font-size: 10px;
    top:70%;

    }
    #right{
        width: 20px;
        height: 20px;
        font-size: 10px;
        top:70%;

    }

}
