*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lumanosimo', cursive;
}
h1{
    text-align: center;
    margin: 10px auto;
    width:570px;
    min-width: 570px;
    height: 100px;
    font-size: 6rem;
    border: 1px solid black;
}
.container{
 
    width: 500px;
    height: 450px;
   
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
   
   
    margin:0px auto;
    
}
#minus{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 55px;
    font-weight: 900;
    position: absolute;
    top: 263px;
    right: 298px;
    background-color: red;
    border: 0;
  
}
#plus{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 55px;
    font-weight: 900;
    position: absolute;
    top: 263px;
    left: 298px;
    background-color: yellow;
    
    border: 0;
}
.result{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
    line-height: 122px;

}
.yellow{
    background-color: yellow;
    opacity: 0.2;
    
    
}
.red{
    background-color: red;
    opacity: 0.2;
   
}
.resetBtn{
   

   display: flex;
   align-items: center;
   justify-content: center;

   width: 100px;
   margin: 10px auto;
   border: 1px solid black;

}
#reset{
    width: 100px;
    height: 50px;
    
    font-size: 2rem;
    border-radius: 10px;
    background-color: lightslategray;
    color: white;  
    border: 0px;  
}
@media (max-width:654px){
    h1{
        font-size: 5rem;
    }
    .container{
 
        width: 400px;
        height: 350px;
    }
   #plus{
    top:210px;
    left: 251px;

   }
   #minus{
    top:210px;
    right: 251px;

   }

}

@media (max-width:557px){
   
    .container{
 
      margin: 0px 74px;
    }
    .resetBtn{
    
        margin: 10px 219px;
    }
 
}
@media (max-width:140px){
    h1{
        margin: 10px 10px;
        
    }
    .container{
 
      margin: 0px 54px;
    }
    .resetBtn{
    
        margin: 10px 200px;
    }
 
}